<ion-view title="Get Assistance" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a ng-show="user.avatarUrl" ng-href="#/app/profile"><img ng-src="{{user.avatarUrl}}" width="34" height="34"/></a>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">

        <ion-refresher
                pulling-text="{{refreshText}}"
                on-refresh="doRefresh()">
        </ion-refresher>

        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            
            <div class="item item-divider bar-dark">
              <h1 class="title">Step <span class="positive-bg positive-border step-count">1</span></h1>
            </div>
            
                <div class="list">
                    <div class="card">
                        <div class="item item-text-wrap">
                            <br/>Let us locate you to find the nearest Disaster Assistance Centers.
                        </div>
                    </div>
                    <div class="card">
                        <div class="item item-text-wrap">
                          <p class="address" ng-show="address" data-ng-bind-html="address">{{address}}</p>
                        </div>
                        <div class="item">
                        <img ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{address|escape}}&zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7C{{loc}}" width="100%" height="100%"/>
                        </div>
                      </div>
                </div>
                <button ng-click="nextSlide()" class="button button-balanced button-block">Start</button>
            
          </ion-slide>
          <ion-slide>
                <div class="item item-divider bar-dark">
                    <h1 class="title">Step <span class="positive-bg positive-border step-count">2</span></h1>
                </div>
            
                <div class="card">
                    <div class="item item-text-wrap">
                        <br/>Choose a Disaster Assistance Centers near you.
                        <p>Below are currently active RedCross centers that are available.</p>
                        <p>Updated: {{dac_updated}}</p>
                    </div>
                </div>

                <div class="list">
                  <!-- <label class="item item-input item-select">
                    <select ng-options="dac.name+' ('+dac.distance+' away)' for dac in dacs" ng-model="dac_selected">
                        <option value="">Choose a Center</option>
                    </select>
                  </label> -->

                  <label class="item item-radio" >
                    <input type="radio" name="center" ng-model="dac_selected" value="">
                    <div class="item-content">
                      No Center
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                  </label>

                  <label class="item item-radio" ng-repeat="dac in dacs">
                    <input type="radio" name="center" ng-model="$parent.dac_selected" value="{{dac.name}}">
                    <div class="item-content">
                      <strong>{{dac.name}}</strong> 
                      <p><i ng-show="dac.distance"><br/>({{dac.distance}} away)</i>
                      <br/>{{dac.addr1}}, {{dac.city}}, {{dac.state}}
                      <br/><span ng-show="dac.population && dac.capacity">Capacity: {{dac.population}} / {{dac.capacity}} - {{(dac.population/dac.capacity)*100 | round}}%</span></p>
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                  </label>

                </div>
                <button ng-click="prevSlide()" class="button button-stable button-block">Back</button>
                <button ng-click="nextSlide()" class="button button-balanced button-block">Continue</button>
            
          </ion-slide>
          <ion-slide>
                <div class="item item-divider bar-dark">
                    <h1 class="title">Step <span class="positive-bg positive-border step-count">3</span></h1>
                </div>
                
                <div class="list">
                    <div class="card">
                        <div class="item item-text-wrap" ng-show="dac_selected">
                            <br/>Click Finish to complete the assistance form.
                            <p>This will notify the <strong>"{{dac_selected}}"</strong> center of your needs and ETA.</p>
                        </div>
                        <div class="item item-text-wrap" ng-show="!dac_selected">
                            <br/>Click Finish to complete the assistance form.
                        </div>
                    </div>
                </div>
                
                <!-- http://css-tricks.com/scroll-fix-content/ -->
                <div class="list">
                  <div class="item item-divider">
                    Your Contact Info
                  </div>
                  <label class="item item-input">
                    <input type="text" placeholder="Your Name" ng-model="user.name">
                  </label>
                  <label class="item item-input">
                    <input type="text" placeholder="Your Email" ng-model="user.email">
                  </label>
                  <label class="item item-input">
                    <input type="text" placeholder="Your Address" ng-model="user.address">
                  </label>
                  <label class="item item-input">
                    <input type="text" placeholder="Your Mobile Number" ng-model="user.mobile">
                  </label>

                  <div class="item item-divider">
                    Assistance Needed?
                  </div>
                  <ul class="list">
                    <li class="item item-toggle" ng-repeat="item in needs">
                        {{item.name}}
                        <label class="toggle toggle-positive"><input type="checkbox" value="{{item.name}}" ng-model="item.checked" ng-change="selectedNeeds()">
                            <div class="track"><div class="handle"></div></div>
                        </label>
                    </li>
                  <ul>
                  <div class="item item-divider">
                    Do you have kids or pets?
                  </div>
                  <ul class="list">
                    <li class="item item-toggle" ng-repeat="item in kids_pets">
                        {{item.name}}
                        <label class="toggle toggle-balanced"><input type="checkbox" value="{{item.name}}" ng-model="item.checked" ng-change="selectedKidsPets()">
                            <div class="track"><div class="handle"></div></div>
                        </label>
                    </li>
                  <ul>

                  <div class="item item-divider">
                    What is your ETA?
                  </div>
                  <ul class="list">
                    <li ng-repeat="item in eta">
                        <label class="item item-radio">
                        <input type="radio" name="group" value="{{item.name}}" ng-model="$parent.user.eta">
                        <div class="item-content">
                          {{item.name}}
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                      </label>
                    </li>
                  <ul>
              
                  <label class="item item-input">
                    <textarea placeholder="Comments" ng-model="user.comments"></textarea>
                  </label>

                </div>

                <button ng-click="prevSlide()" class="button button-stable button-block">Back</button>
                <button ng-click="saveForm()" class="button button-balanced button-block">Finish</button>
            
          </ion-slide>
        </ion-slide-box>

    </ion-content>

</ion-view>