<ion-view title="GovSafe" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">

        <ion-refresher
                pulling-text="Pull to get your location..."
                on-refresh="doRefresh()">
        </ion-refresher>

        <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <div class="box blue"><h1>Step <span class="positive-bg positive-border step-count">1</span></h1>
                <div class="list card">
                    <p>
                        Let us locate you to find the nearest Disaster Assistance Centers.
                    </p>
                    <div class="card">
                        <div class="item item-text-wrap">
                          <p class="address" ng-show="address" data-ng-bind-html="address">{{address}}</p>
                        </div>
                      </div>
                </div>
                <button ng-click="nextSlide()" class="button button-balanced">Start</button>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box yellow"><h1>Step <span class="positive-bg positive-border step-count">2</span></h1>
                <p>
                    Choose a Disaster Assistance Centers near you.
                </p>
                <div class="list">
                  <label class="item item-input item-select">
                    <select ng-repeat="dac in dacs" ng-model="center">
                      <option value="{{dac.name}}">{{dac.name}}</option>
                    </select>
                  </label>

                </div>
                <button ng-click="prevSlide()" class="button button-calm">Back</button>
                <button ng-click="nextSlide()" class="button button-balanced">Continue</button>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box yellow"><h1>Step <span class="positive-bg positive-border step-count">3</span></h1>
                <p>
                    Let the {{dac_chosen}} know when you will be arriving and complete the required for with your basic information.
                </p>
                <button ng-click="prevSlide()" class="button button-calm">Back</button>
                <a class="typeform-share button button-balanced" id="start-form" href="https://avantassel.typeform.com/to/ToheBD" data-mode="1" target="_self">Finish</a>
            </div>
          </ion-slide>
        </ion-slide-box>

        <!-- <div ng-repeat="item in items" class="list card">
            <div class="item item-avatar">
                <img src="https://graph.facebook.com/{{ item.from.id }}/picture"/>
                <h2>{{item.from.name}}</h2>
                <p>{{item.created_time | date:'MMM d, y h:mma'}}</p>
            </div>
            <div class="item item-body">
                <p ng-if="item.story">{{item.story}}</p>

                <p>{{item.message}}</p>

                <img ng-if="item.picture" ng-src="{{ item.picture }}"/>

            </div>
        </div> -->

    </ion-content>

</ion-view>