<ion-view title="Logout" hide-back-button="true" style="background: #1b5a83">
    
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">

        <div class="list list-inset"  style="background: #1b5a83">

            <div class="item item-image" style="border:none;margin-top:50px;">
                <img src="img/sociogram.jpg"/>
            </div>

        </div>

    </ion-content>

</ion-view>