<ion-view title="Status" hide-back-button="true">
    
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">
        
            <div class="item item-avatar">
                <img ng-src="{{user.avatarUrl}}" />
                <h2>Thank you {{user.firstName}}</h2>
            </div>            
            <div class="item item-text-wrap">You will be notified when the center is ready for you.</div>
            
    </ion-content>

</ion-view>
