# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
cordova/
www/lib/
*.log
!platforms/android/res
!platforms/ios/GovSafe/Resources
*.apk
*.keystore
keystore