/* Your app's CSS, go crazy, make it your own */

.button-bar {
  padding: 10px;
}

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.item-body > p {
    margin-top: 0;
    margin-bottom: 4px;
}

.step-count {
	border-radius:25px;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  padding: 5px 10px 5px 10px;
  color: #FFF;
  font-size: 19px;
  top: 4px;
  position: relative;
  float: right;
}

.item-select {
	height: 50px;
}
.item-select select{
	max-width: 100%;
}

.name {
  word-break: break-word;
  white-space: initial;
  letter-spacing: 0.2em;
}

.distance {
  display: inline-block;
  position: relative;
  color: #666;
  font-size: 12px;
}